
/* Hide sidebar completely */
[data-testid="stSidebar"] {display: none !important; width: 0 !important;}
section[data-testid="stSidebar"] {display: none !important; width: 0 !important;}
button[kind="header"] {display: none !important;}
[data-testid="collapsedControl"] {display: none !important;}
.st-emotion-cache-z5fcl4 {width: 0 !important;}
.st-emotion-cache-h5rgaw {display: none !important;}
.st-emotion-cache-1egp7i3 {display: none !important;}
